In [1]:
import pandas as pd
import numpy as np

In [3]:
dat_0 = pd.read_csv('world_university_rankings_2016_to_2021_updated.csv')

In [9]:
# Rename columns
dat_1 = dat_0.rename(columns={'Year':'year_number',
                              'Rank':'rank_string',
                              'University':'uni',
                              'URL' :'url',
                              'Country':'country',
                              'Number of FTE Students':'FTEs',
                              'Number of Students per staff':'stdnts_stf_ratio',
                              'International Students':'intStdnts_ratio',
                              'Female Male Ratio':'fml_ml_ratio',
                              })

In [5]:
dat_1.head()

,rank_string,uni,url,country,FTEs,stdnts_stf_ratio,intStdnts_ratio,fml_ml_ratio,year_number
0,1,University of Oxford,https://www.timeshighereducation.com/world-uni...,United Kingdom,20774,11.1,0.41,46 : 54,2021
1,2,Stanford University,https://www.timeshighereducation.com/world-uni...,United States,16223,7.4,0.23,44 : 56,2021
2,3,Harvard University,https://www.timeshighereducation.com/world-uni...,United States,21261,9.3,0.25,49 : 51,2021
3,4,California Institute of Technology,https://www.timeshighereducation.com/world-uni...,United States,2238,6.3,0.33,36 : 64,2021
4,5,Massachusetts Institute of Technology,https://www.timeshighereducation.com/world-uni...,United States,11276,8.4,0.34,39 : 61,2021

In [10]:
dat_1.intStdnts_ratio

0       0.41
1       0.23
2       0.25
3       0.33
4       0.34
        ...
7060    0.03
7061    0.02
7062    0.03
7063    0.07
7064    0.04
Name: intStdnts_ratio, Length: 7065, dtype: object

In [11]:
type(dat_1.intStdnts_ratio[0])

str

In [15]:
dat_1.fml_ml_ratio.apply(lambda x: x.split(' ')[0])

AttributeError: 'float' object has no attribute 'split'